
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

.DS_Store


logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

package-lock.json
yarn.lock

target/
**/target/
/programs/trade_zone.rs
Cargo.lock
Anchor.toml
Anchor.toml.lock
idl/
build/

*.keypair.json
*.json

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

Thumbs.db
